h1 {
    color: red
}

header {
    display: flex;
    justify-content: space-between;

}

header nav ul a {
    text-decoration: none;
    color: greenyellow;
}

header nav ul {
    list-style-type: none;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    gap: 40px;
}

main section h2 {
    text-align: center;
}

main section {
    border-style: solid;

}

main section h3 {
    display: flex;
    ;
}

main section article #un {
    border: 1px solid red;
    padding: 20px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
main section div #bloc1 h3 {
    display: flex;
    justify-content: center;
}

main section article #deux {
    border-style: solid;
    border-color: red;
    margin: 20px;
}