header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: blueviolet;
    font-size: 45px;
}

.nav-items {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-items a {
    text-decoration: none;
    color: rgb(41, 208, 41);
}
#sectionCat article {
    width: 50%;
}
#sectionCat h2, .cat-container h3 {
    text-align: center;
}
.cat-container {
    display: flex;
    gap: 50px;
}
.cat-article-container {
    display: flex;
    border: 1px solid red;
    padding: 30px;
    
}
.lechat {
    width: 500px;
    height: 200px;
}
.lechat img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




